body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #2C2F33; 
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto; 
    background-color: #23272A;  
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);  
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;  
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #2C2F33;  
}

th {
    background-color: #5e4b8b;;  
    color: white;
}

.btn {
    background-color: #5e4b8b;; 
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 14px;
    display: inline-block;
}

.btn:hover, .btn:focus {
    background-color: #473770; 
    transform: translateY(-2px);
}

.btn:disabled {
    background-color: #4F545C; 
    color: #666666;
    cursor: not-allowed;
}

.input[type="text"], textarea {
    width: calc(100% - 40px); 
    padding: 10px 20px; 
    margin: 20px 0; 
    border: 1px solid #99AAB5; 
    background-color: #2C2F33; 
    color: #ffffff;  
    border-radius: 4px;
}

textarea {
    height: 33px; 
}

.table-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.table-container table {
    flex-basis: 48%; 
    max-width: 48%;
}

@media (max-width: 768px) {
    .table-container {
        flex-direction: column;
        align-items: center;
    }

    .table-container table {
        flex-basis: 90%;
        max-width: 90%;
    }
}

.section-header {
    font-size: 18px;
    color: #7289DA; 
    margin-bottom: 20px; 
}


/* lastest added background*/
.latest-added {
    background-color: #8587fe;  
    color: white; 
}


/* light mode */
.container {
    max-width: 800px;
    margin: 40px auto; 
    background-color: #23272A;  
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);  
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;  
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #2C2F33;  
}

th {
    background-color: #5e4b8b;;  
    color: white;
}

.btn {
    background-color: #5e4b8b;; 
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 14px;
    display: inline-block;
}

.btn:hover, .btn:focus {
    background-color: #473770; 
    transform: translateY(-2px);
}

.btn:disabled {
    background-color: #4F545C; 
    color: #666666;
    cursor: not-allowed;
}

.input[type="text"], textarea {
    width: calc(100% - 40px); 
    padding: 10px 20px; 
    margin: 20px 0; 
    border: 1px solid #99AAB5; 
    background-color: #2C2F33; 
    color: #ffffff;  
    border-radius: 4px;
}

textarea {
    height: 33px; 
}

.table-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.table-container table {
    flex-basis: 48%; 
    max-width: 48%;
}

@media (max-width: 768px) {
    .table-container {
        flex-direction: column;
        align-items: center;
    }

    .table-container table {
        flex-basis: 90%;
        max-width: 90%;
    }
}

.section-header {
    font-size: 18px;
    color: #7289DA; 
    margin-bottom: 20px; 
}

.light-theme {
    background-color: #f0f0f0;
    color: #333;
}

.light-theme .container {
    background-color: #ffffff;
}

.light-theme textarea {
    background-color: #fff; 
    color: #333; 
    border: 1px solid #ccc;  
}

.theme-toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.theme-toggle {
    font-size: 16px;  
    background-color: transparent;  
    color: #ffffff; 
    border: none;  
    border-radius: 50%;  
    width: 25px;  
    height: 25px;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s; 
}

.theme-toggle:hover, .theme-toggle:focus {
    transform: none;  
    background-color: transparent; 
}

.light-theme .theme-toggle {
    color: #2C2F33; 
}

.light-theme .theme-toggle:hover, .light-theme .theme-toggle:focus {
    background-color: transparent; 
}

/*note*/
.updates-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #2C2F33;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 1001;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.updates-link:hover {
    transform: scale(1.1);
}

.updates-icon {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
